<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'pure-form pure-form-stacked'}) do |f| %>
  <%= devise_error_messages! %>
    <%= f.input :username, placeholder: 'username', autofocus: true %>
    <%= f.input :email, placeholder: 'email' %>
    <%= f.input :password, placeholder: 'password', autocomplete: "off" %>
    <%= f.input :password_confirmation, placeholder: 'confirm password', autocomplete: "off" %>
    <%= f.submit "Sign up", class: 'pure-button pure-button-primary' %>
<% end %>