= javascript_include_tag "//www.google.com/jsapi", "chartkick"
#domain-show
  %ul.nav
    %li= link_to "BlocMetrics", root_path
    %li= link_to current_user.username, user_path(current_user)
    %li Your Domains
    %li= link_to @domain.name, @domain

  %h1 #{@domain.name}
  %span#info= link_to @domain.url, 'http://'+@domain.url

  #events
    %h2 Events
    - if !@events.any?
      %p No events tracked yet
    - else
      #event-graphs.pure-g
        #events-list.pure-u-1-5
          %ul
          -@events.each do |k,v|
            =content_tag :li do
              =k + ": #{v.length}"
        #events-pie.pure-u-2-5
          = pie_chart @domain.events.group(:name).count, library: {title: 'Total Events by Type',backgroundColor: 'none'}
        #events-line.pure-u-2-5
          = line_chart @domain.events.group_by_day(:created_at), library: {title: 'Total Events by Day', backgroundColor: "none", hAxis:{color: "white", baselineColor: "white", format: 'MMM d', showTextEvery: 2}, vAxis:{format: '0', color: "white", baselineColor: "white", gridlines: {color:"white"}} } 

  #delete-domain
    %h3 Delete this domain
    %p If you no longer need to track events for this application, you can delete it. Please note that we will delete all associated event data and this action cannot be undone.

    = button_to "Delete", domain_path(@domain), method: :delete, class: "pure-button delete_btn", data: {confirm: "Are you sure?"}