<h2>Log in</h2>

<%= simple_form_for( resource, as: resource_name, url: session_path(resource_name), html: {class: 'pure-form pure-form-stacked'} ) do |f| %>
  
  <%= f.input :username, autofocus: true, placeholder:'username' %>
  <%= f.input :password, autocomplete: "off", placeholder: 'password' %>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

    <%= f.submit "Log in" %>

<% end %>
