<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BlocMetrics" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="container" class="pure-g">
    <div id="left-bar" class="pure-u-1-5">
      <h2>BlocMetrics</h2>
    </div>
    <div id="main-content" class="pure-u-4-5">
<%= render 'welcome/show_flash' %>
    <%= yield %>
    </div>

  </div>
  </body>
</html>
