<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BlocMetrics" %></title>
    <%= javascript_include_tag('application') %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="container" class="pure-g">

  <div id="left-bar" class="pure-u-1-5"><div class="pad-box">
    <div id="home-link">
      <h2><a href="/">BlocMetrics</a></h2>
    </div>
    <div id="user-status">
      <% if current_user %>
        <span>Welcome, <%= link_to current_user.username, edit_user_registration_path %> || <%= link_to "Log out", destroy_user_session_path, method: :delete %></span>
      <% else %>
        <%= render 'devise/sessions/sign_in' %>
      <% end %>
    </div>
    <%= link_to "About", welcome_about_path %>
  </div></div>
  <div id="main-content" class="pure-u-4-5">
    <div class="pad-box">
<%= render 'welcome/show_flash' %>
  <%= yield %>
    </div>
  </div>

  </div>
  </body>
</html>
